<h1>Edit State</h1>


<%= form_for @state do |f| %>
  <%= f.label :state_name %>
  <%= f.text_field :state_name, autofocus: true %>
  
  <%= f.label :state_description %>
  <%= f.text_field :state_description%>
  
  <%= f.submit %>
<% end %>