<h1>Edit Region</h1>


<%= form_for [@state, @region] do |f| %>
  <%= f.label :region_name %>
  <%= f.text_field :region_name, autofocus: true %>
  
  <%= f.label :region_description %>
  <%= f.text_field :region_description%>
  
  <%= f.submit %>
<% end %>