


<h1>Add a Region</h1>


<%= form_for [@state, @region] do |f| %>
  <%= f.label :region_name %>
  <%= f.text_field :region_name, required: true, autofocus: true %>
  
  <%= f.label :region_description %>
  <%= f.text_field :region_description, required: true %>
  
  <%= f.submit %>
<% end %>
